/* FONTS */
@font-face {
  font-family: 'Charger EcoBlack';
  src: url('../fonts/ChargerEcoBlack.woff2') format('woff2'),
    url('../fonts/ChargerEcoBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
    url('../fonts/Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'JIS AZN';
  src: url('../fonts/JISAZNRegular.woff2') format('woff2'),
    url('../fonts/JISAZNRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
    url('../fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'JIS AZN';
  src: url('../fonts/JISAZNBold.woff2') format('woff2'),
    url('../fonts/JISAZNBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
    url('../fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.woff2') format('woff2'),
    url('../fonts/Montserrat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e1e3e9;
  width: 100%;
  max-width: 1075px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 516px;
  background: url("../img/circle-bg.png") no-repeat 50% -258px/contain;
}

img {
  width: 100%;
  max-width: 100%;
}

.header {
  /* background: url("../img/leaves.png") no-repeat -20% -200px/contain; */
  height: 616px;
  position: relative;
}

.logo {
  opacity: 0.78;
  font-family: "Charger Eco Black";
  font-size: 37px;
  font-weight: 900;
  color: #1e2124;
  text-align: center;
  padding-top: 1.67vh;
}

.slider-wrap {
  /* height: 290px; */
  width: 540px;
  background-color: #009946;
  position: absolute;
  bottom: 0;
  /* bottom: 80px; */
}

.slider-arrows {
  margin-top: 7%;
  margin-left: 11%;
}

.prev,
.next {
  background-color: #028134;
  width: 53px;
  height: 41px;
  display: inline-block;
  padding: 7px 10px;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: #53d47a;
}

.prev img,
.prev img {
  width: 30px;
  height: 21px;
}

.slider-header {
  z-index: 1;
}

.slider-item {
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  /* padding: 1% 1% 1% 1.5%; */
  padding: 38px 38px 38px 57px;
}

.slider-item h2 {
  font-size: 31px;
  font-weight: 300;
  letter-spacing: 1.2px;
}

.slider-item p {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
  letter-spacing: 0.35px;
}

.slider-item p span {
  font-weight: 600;
  letter-spacing: 0.35px;
  font-style: italic;
}

.slider-item button {
  outline: none;
  border: 1px solid #ccc;
  padding: 3px 16px;
  background-color: #53d47a;
  color: #FFF;
}

.img-wrap {
  position: absolute;
  top: 22%;
  left: 25%;
}

/* Второй блок */
.secret {
  background: url("../img/leaves.png") no-repeat 100px 0/contain;
  padding-top: 10vh;
  height: 860px;
  position: relative;
}

.mobile-secret {
  display: none;
}

.heading {
  text-align: center;
  color: #1e2124;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 9px;
  letter-spacing: 0.8px;
}

.heading::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  position: relative;
  display: block;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.subheading {
  text-align: center;
  color: #797979;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 5.19px;
  letter-spacing: 0.61px;
  margin-top: 40px;
}

.secret-img {
  z-index: -1;
}

.advantages {
  width: 225px;
}

.advantages h3,
.advantages p {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}

.advantages p {
  color: #969292;
}

.advantages h3 {
  color: #009946;
  letter-spacing: 0.45px;
  margin-bottom: 0;
}

.first-circle,
.second-circle,
.third-circle {
  position: absolute;
}

.first-circle {
  top: 27%;
  left: 24%;
}

.second-circle {
  top: 59%;
  left: 54%;
}

.third-circle {
  top: 79%;
  left: 24%;
}

/* Третий блок*/
.consist {
  height: 480px;
  background: url("../img/girl-on-the-beach.png") no-repeat center/contain;
  margin-top: -2%;
  padding-top: 10vh;
  position: relative;
  /* z-index: -1; */
  z-index: 2;
}

.consist .heading {
  font-weight: 500;
}

.consist .subheading {
  font-weight: 500;
  color: #1e2124;
}

.consist .form-box {
  display: none;
}

.attention {
  position: absolute;
  bottom: -36%;
  right: 0;
  background-color: #009946;
  width: 540px;
  padding: 3% 0 3% 6%;
}

.attention::before {
  content: url("../img/plant.png");
  width: 212px;
  height: 163px;
  display: inline-block;
  position: absolute;
  bottom: -3%;
  left: 4.5%;
}

.heading_h3 {
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-size: 37px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.subheading_h3 {
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-bottom: 0;
}

#timer_h,
#timer_m,
#timer_s {
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-size: 86px;
  font-weight: 700;
  letter-spacing: 1.2px;
  display: inline-block;
  margin-bottom: 0;
}

#timer_h::after {
  content: "Saat";
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

#timer_m::after {
  content: "dəq.";
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

#timer_s::after {
  content: "san.";
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
}

#timer_h::after,
#timer_m::after,
#timer_s::after {
  position: relative;
  display: block;
  margin-top: -10%;
  left: 44%;
  line-height: 0%;
}

.wanted {
  margin-top: 2.5rem;
}

.wanted a,
.wanted button {
  text-decoration: none;
  z-index: 10;
  display: block;
  text-align: center;
  background-color: #036d1f;
  width: 138px;
  height: 40px;
  outline: none;
  border: none;
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  /* line-height: 18px; */
  letter-spacing: 0.35px;
  cursor: pointer;
}

.price {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 114px;
  font-weight: 700;
  line-height: 32.09px;
  letter-spacing: 0.8px;
}

.price::after {
  content: url("../img/shadow.png");
  width: 179px;
  height: 18px;
  display: block;
  position: relative;
  margin-top: -13%;
  margin-left: -7%;
}

.price .manat {
  font-family: "JISAZN Bold";
  font-weight: 400;
  letter-spacing: 0.8px;
  left: -.35em;
}

.old-price {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 13.99px;
  letter-spacing: 0.8px;
  display: block;
  margin-left: 15%;
  position: relative;
  margin-bottom: -10%;
}

.old-price::after {
  content: url("../img/cross.png");
  width: 57px;
  height: 58px;
  display: inline-block;
  top: 17px;
  left: -86px;
  position: relative;
}

.old-price .manat {
  font-family: "JISAZN Bold";
  font-weight: 400;
  letter-spacing: 0.8px;
}

.card_box {
  position: absolute;
  bottom: -38%;
  z-index: 1;
  width: 52.5%;
}

/* Отзывы */
.testimonials {
  margin-top: 275px;
  background: url("../img/leaves.png") no-repeat 100px 0/contain;
}

.testimonial_card {
  width: 350px;
  /* height: 205px; */
  height: 180px;
}

.testimonial_card::before {
  content: "";
  width: 52px;
  height: 52px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  top: -15%;
  left: 7%;
  position: relative;
  display: block;
}

.testimonial_card.valeria::before {
  background-image: url("../img/valeria.png");
}

.testimonial_card.maria::before {
  background-image: url("../img/maria.png");
}

.testimonial_card span {
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 18px;
  font-style: italic;
  letter-spacing: 0.25px;
  display: block;
  position: relative;
  margin-top: -12%;
  margin-left: 25%;
  transform: translateY(4px);
}

.testimonial_card p {
  position: relative;
  z-index: 2;
  color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.25px;
  padding: 7% 6% 0;
  
  /* padding-top: 5%; */
  margin-bottom: 0.2rem;
}

/* .testimonial_card p::before {
  content: url("../img/cavychki_black.png");
  width: 76px;
  height: 53px;
  position: absolute;
  display: inline-block;
  z-index: 0;
  margin-top: -6%;
  margin-left: 3%;
} */

.testimonial_card::after {
  content: url("../img/cavychki_black.png");
  width: 76px;
  height: 53px;
  position: absolute;
  top: 35px;
  left: 45px;
  display: inline-block;
  z-index: 0;
}

.testimonial_card a {
  display: none;

  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-decoration: none;
  padding-left: 6%;
}

.testimonial_card a::after {
  content: "";
  width: 310px;
  height: 1px;
  background-color: #2f2f2f;
  opacity: 0.3;
  display: block;
  margin: 1% auto 0;
}

.testimonial_card i {
  /* display: none; */

  font-style: normal;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 3.16px;
  letter-spacing: 0.71px;
  /* display: block; */
  cursor: pointer;
}

.testimonial_card i::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  opacity: 0.4;
  position: absolute;
  bottom: 6px;
  left: 31px;
  display: inline-block;
  border-radius: 50%;
}

.left-icon {
  display: none;
  margin-top: -11px;
  margin-left: 6%;
}

.right-icon {
  display: none;
  margin-left: 88%;
  margin-top: -15px;
}

.green-bg {
  background-color: #009946;
}

.green-bg a {
  color: #212224;
}

.black-bg {
  background-color: #212224;
}

.black-bg a {
  color: rgba(228, 228, 228, 0.23);
}

.green-tea {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
  width: 39%;
}

/* Блок эксперта */
.experts {
  margin-top: 150px;
  background: url("../img/leaves.png") no-repeat 100px 0/contain;
}

.expert-img {
  width: 270px;
  height: 270px;
  border: 10px solid #036d1f;
  border-radius: 50%;
  margin: 0 auto;
  background: url("../img/expert.png") no-repeat center/cover;
}

.expert-opinion {
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  text-align: center;
}

.cert {
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.25px;
  text-align: center;
}

/* Форма связи */
.form-block {
  background: url("../img/leaves.png") no-repeat 100px 0/contain;
  margin-top: 150px;
  height: 500px;
}

.form-block form {
  position: absolute;
  z-index: 2;
  right: 0;
  margin-top: 10%;
  height: 202px;
  width: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

form input:focus {
  outline: none;
}

form input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(111, 110, 110, 0.5);
  background-color: transparent;
  width: 495px;
  margin-bottom: 10%;
}


form input[type="text"]::-webkit-input-placeholder {

  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26.47px;
  letter-spacing: 0.45px;
  padding-left: 3%;
}

form input[type="text"]:-ms-input-placeholder {
  color: #6f6e6e;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26.47px;
  letter-spacing: 0.45px;
  padding-left: 3%;
}

form input[type="text"]::placeholder {
  color: #6f6e6e;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26.47px;
  letter-spacing: 0.45px;
  padding-left: 3%;
}

form button {
  background-color: transparent;
  outline: none;
  border: none;
  width: 192px;
  height: 53px;
  border: 1px solid #009946;
  color: #6f6e6e;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26.47px;
  letter-spacing: 0.45px;
  cursor: pointer;
  transition: .25s;
}

form button:hover {
  background-color: #009946;
  color: #e4dbdb;
}

.form-box {
  position: absolute;
  /* z-index: -1; */
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 94%;
}

.form-block .price {
  color: #819745;
  position: absolute;
  right: 16%;
  bottom: 2%;
}

.form-block .price::after {
  margin-top: -4%;
}

.form-block .old-price {
  color: #1e2124;
  position: absolute;
  right: 23%;
  bottom: 7%;
}

/* Подвал */
footer {
  width: 100%;
  height: 100px;
  background-color: #222222;
  position: absolute;
}

.carousel-control-next {
  right: -2% !important;
}

/* Адаптив */
@media (max-width: 1200px) {
  .img-wrap {
    width: 535px;
    left: 50%;
    transform: translateX(-50%);
  }

  .card_box {
    position: absolute;
    bottom: -38%;
    z-index: 1;
    width: 52.5%;
    right: 510px;
  }

  .form-box {
    width: 85%;
  }

  form button {
    margin-right: 10%;
  }
}
@media (max-width: 1024px) {
  .header {
    height: 550px;
  }
}
@media (max-width: 980px) {
  .first-circle {
    top: 24%;
  }

  .second-circle {
    top: 51%;
  }

  .third-circle {
    top: 70%;
  }

  .consist {
    margin-top: -13%;
  }

  .card_box {
    width: 48%;
  }

  .form-block {
    margin-top: 50px;
  }

  .form-box {
    width: 86%;
  }

  .testimonial_card {
    /* width: 300px; */
    width: auto;
  }
}

@media (max-width: 640px) {
  .heading {
    line-height: 24px;
  }
  .subheading {
    line-height: 14px;
  }
  form input[type="text"] {
    width: 100%;
  }  
  #timer_h,
  #timer_m,
  #timer_s {
    font-size: 52px;
  }
  .img-wrap {
    display: none;
  }

  .header {
    height: 450px;
  }
  .heading {
    font-size: 24px;
  }
  .wanted {
    padding-left: 0;
    padding-right: 0;
  }
  .wanted > .row {
    flex-wrap: nowrap;
  }
  .wanted .col-auto {
    margin-left: auto;
    text-align: right;
  }
  .wanted .price {
    display: inline-block;
    font-size: 62px;
    /* transform: translateX(20px); */
    /* margin-right: -10px; */
  }
  .wanted .price::after {
    margin-top: -9%;
  }
  .old-price {
    margin-top: -25px;
  }
  .slider-wrap {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    height: 232px;
    width: 100%;
  }

  .slider-arrows {
    margin-top: 3%;
  }

  .slider-item {
    padding-top: 30px;
    /* padding-top: 0.5%; */
  }
  .slider-item h2 {
    font-size: 24px;
  }

  .secret {
    padding-top: 0;
    height: auto;
  }

  .first-circle,
  .second-circle,
  .third-circle,
  .secret-img {
    display: none;
  }

  .advantages h3,
  .advantages p {
    font-size: 9px;
  }

  .mobile-secret {
    display: block;
  }

  .mobile-secret img {
    width: 50%;
  }

  .advantages {
    width: auto;
  }

  .consist {
    margin-top: 0;
    background: none;
  }

  .attention {
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    bottom: -74px;
    width: 100%;
  }

  .attention::before {
    display: none;
  }

  .card_box {
    display: none;
  }

  .consist .form-box {
    display: block;
    width: 100%;
    bottom: -88%;
  }

  .testimonials {
    margin-top: 430px;
  }

  .testimonial_card {
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial_card i::before {
    bottom: 25%;
    left: 25.1%;
    display: block;
  }

  .green-tea {
    width: 75%;
    top: 50%
  }

  .experts {
    margin-top: 0;
  }

  .form-block {
    margin-top: 50px;
    height: 440px;
  }

  .form-block form {
    left: 50%;
    transform: translateX(-50%);
    /* width: auto; */
    width: 100%;
    height: auto;
    right: auto;
  }

  .form-block .form-box {
    bottom: -6%;
    left: 13%;
    width: 87%;
  }

  .form-block .price {
    left: 16%;
  }

  .form-block .old-price {
    left: 0;
  }

  footer {
    margin-top: 30%;
  }
  .form-block .old-price {
    bottom: 5%;
  }
  .form-block .price {
    bottom: 1%;
  }
}

@media (max-width: 480px) {
  .mobile-secret img {
    width: 25%;
    margin-bottom: 3%;
  }

  .slider-item h2 {
    font-size: 20px;
  }

  .slider-item p {
    font-size: 12px;
  }

  .advantages {
    padding: 0 25%;
  }

  .attention {
    padding: 3% 7% 3% 10%;
  }

  .consist .form-box {
    bottom: -76%;
  }

  .testimonials {
    margin-top: 365px;
  }

  .green-tea {
    top: 55%;
  }

  .testimonial_card i::before {
    bottom: 20%;
    left: 17.1%;
  }

  form button {
    margin-right: 5%;
  }

  
  .form-block .form-box {
    top: 101%;
    /* bottom: -5%; */
    z-index: 1;
    left: 12%;
    width: 87%;
  }

  .price {
    font-size: 100px;
  }

  .form-block .old-price {
    left: -35px;
}

  footer {
    width: 107%;
  }
}

/* Модальные окна */
.bg_popup {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
}

.popup {
  background: #fff;
  width: 520px;
  margin: 25% auto;
  padding: 5px 20px 0 30px;
  border: 2px solid #009946;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.popup span {
  font-weight: 700;
}

.popup p::before {
  content: url("../img/shopping.png");
  left: 1%;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  position: absolute;
}

.close {
  display: none;
  /* display: block; */
  position: absolute;
  top: -12px;
  right: 5px;
  width: 25px;
  height: 25px;
  line-height: 20px;
  color: #fff;
  background: #009946;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background-color: #819745;
}

@media (max-width: 1200px) {
  .bg_popup {
    display: none !important;
  }
}